{% extends 'lodge/base.html' %}
{% load static %}

{% block title %}{{ room.get_room_type_display }} - Villa Grande{% endblock %}

{% block content %}
<section class="room-detail-section py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="room-gallery">
                    {% if room.image %}
                        <img src="{{ room.image.url }}" alt="{{ room.room_number }}" class="img-fluid w-100" style="object-fit: cover; max-height: 500px;">
                    {% else %}
                        <img src="{% static 'img/default-room.jpg' %}" alt="Default room image" class="img-fluid w-100">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-tag left">Room Details</div>
                <h2 class="section-heading">{{ room.get_room_type_display }} <em>{{ room.room_number }}</em></h2>
                <div class="divider-gold"></div>
                <div class="room-price-badge mb-4" style="position: static; display: inline-block;">${{ room.price_per_night }} / night</div>
                <p class="lead">{{ room.description }}</p>
                
                <h5 class="mt-4">Amenities</h5>
                <ul class="list-unstyled row g-3">
                    <li class="col-6"><i class="fas fa-bed text-gold me-2"></i> King Bed</li>
                    <li class="col-6"><i class="fas fa-bath text-gold me-2"></i> En Suite</li>
                    <li class="col-6"><i class="fas fa-wifi text-gold me-2"></i> Free Wi-Fi</li>
                    <li class="col-6"><i class="fas fa-snowflake text-gold me-2"></i> Air Conditioning</li>
                    <li class="col-6"><i class="fas fa-tv text-gold me-2"></i> Smart TV</li>
                    <li class="col-6"><i class="fas fa-coffee text-gold me-2"></i> Coffee Machine</li>
                </ul>
                
                <div class="d-flex gap-3 mt-4">
                    <a href="{% url 'lodge:booking' %}?room={{ room.pk }}" class="btn-vg-primary">Book This Room</a>
                    <a href="{% url 'lodge:rooms' %}" class="btn-vg-outline">Back to Rooms</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}