{% extends "admin/villagrande/base_site.html" %}
{% load i18n static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  {{ media.js }}
  <script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li>
<li class="breadcrumb-item active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}
  <div id="content-main" class="fade-in">
    {% block object-tools %}
        <div class="admin-actions">
            <ul class="object-tools">
                {% block object-tools-items %}
                  {% if has_add_permission %}
                    <li>
                      <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn-admin btn-admin-primary">
                        <i class="fas fa-plus"></i> {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
                      </a>
                    </li>
                  {% endif %}
                {% endblock %}
            </ul>
        </div>
    {% endblock %}
    
    {% if cl.formset and cl.formset.errors %}
        <div class="message message-error">
            {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </div>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    
    <div class="admin-card">
        <div class="admin-filters">
            <div class="filter-group">
                {% block search %}{% search_form cl %}{% endblock %}
                {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}
                {% block filters %}
                    {% if cl.has_filters %}
                        <div class="filter-item">
                            <label class="form-label">{% translate 'Filter' %}</label>
                            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
        
        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>
            {% csrf_token %}
            {% if cl.formset %}
                <div>{{ cl.formset.management_form }}</div>
            {% endif %}
            
            {% block result_list %}
                <div class="admin-table-container">
                    {% if action_form and actions_on_top and cl.show_admin_actions %}
                        <div style="margin-bottom: 15px;">
                            {% admin_actions %}
                        </div>
                    {% endif %}
                    
                    {% result_list cl %}
                    
                    {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                        <div style="margin-top: 15px;">
                            {% admin_actions %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
            
            {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
    </div>
  </div>
{% endblock %}